<!--
        ==================================================
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Notre agence</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/#Page header-->


        <!--
        ==================================================
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Nous sommes des dèv</h2>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Nous prenons des engagements vis à vis de vous et de vos visiteurs: Vos sites serons agréables à regarder, structurés, mobile friendly et sexy. Si vous souhaitez partir sur des projets plus complexe nous pourrons également vous accompagner.</p>
                            <div class="row service-parts">
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <%= image_tag('info.png', class: "ion-ios-paper-outline")%>
                                        <h4>Informer vos clients</h4>
                                        <p>Votre site internet dois donner envie!</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                        <%= image_tag('epater.png', class: "ion-ios-paper-outline")%>
                                        <h4>Epater vos clients</h4>
                                        <p>Faites vivre votre site internet avec un design attrayant</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                        <%= image_tag('strategie.png', class: "ion-ios-paper-outline")%>
                                        <h4>Deployez une stratégie</h4>
                                        <p>Utilisez les outils du growth hacking pour hackérir plus de client (il n'y a pas de fautes dans cette phrase)</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1.1s">
                                        <%= image_tag('idee.png', class: "ion-ios-paper-outline")%>
                                        <h4>Créé votre idée</h4>
                                        <p>Faites appel à nous pour la version 0 de votre site. Nous vous conseillons et nous vous évitons de dépenser trop d'argent.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                            <%= image_tag('signature.jpg', class: "img-responsive")%>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Works Section Start
        ================================================== -->
        <section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">En 1 semaine votre nouveau site</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Entre la signature du devis et la réalisation de votre site internet nous vous proposons un délai de 5 jours ouvrés.<br><br> Nous vous proposons un site internet vitrine simple en 5 jours avec votre propre deisgn et votre propre stratégie de contenu sur votre site. Si nous avons votre accord le lundi matin vous serez livré le vendredi soir.<br>
                        Pour les projets plus long et plus complexe nous avons réalisé une frise chronologique.
                    </p>
                <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                 <%= image_tag('takeoff.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        1 semaine de définition du design     
                                    </a>
                                </h4>
                                <p>
                                    On fabrique une version regardable de votre site.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <%= image_tag('warmup.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        2 semaines     
                                    </a>
                                </h4>
                                <p>
                                    Nous travaillons sur la partie back-end de votre site
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <%= image_tag('makeup.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        1 semaine    
                                    </a>
                                </h4>
                                <p>
                                    Nous réalisons les retouches demandés
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                               <%= image_tag('parti.jpg', class: "img-responsive")%>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Livraison      
                                    </a>
                                </h4>
                                <p>
                                    Votre site est online et nous vous proposons un accompagnement pour booster votre visibilité.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                   

                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Methodologie
        ================================================== -->
        <section class="works service-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Nos méthodes</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h4 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Formation méthode 42</h4>
                                <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                                    Nos corsaires auront codés leur propre site complexe, un site vitrine ne leur fait pas peur et ils pourront vous proposer des améliorations sur votre site.<br>
                                    Nous vous proposerons 3 propositions différentes de design au moment du devis<br>
                                </p>
                            <h4 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Transparence</h4>
                                <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                                    pour un site internet de présentation de votre entreprise nous vous proposons un tarif forfaitaire de 2 000 €HT si vous décidez de choisir un design de notre proposition<br>
                                    Pour un site internet avec un espace blog et l'utilisation d'automatisations comptez 3500€ HT.
                                    Si vous décider de mettre en place un système d'enregistrement dans le cadre d'un site avec des utilisateurs comptez 5 000 €HT.<br>
                                    Dans le cadre d'un site d'un projet web complexe nessitant l'intervention de développeurs experimentés (10 ans d'experience minimum) et une vrai complexité de travail nos tarifs évoluent très rapidement (sur devis).     
                                </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <%= image_tag ('cb.jpg'), class:"img-responsive"%>
                    </div>
                </div>
                <div class="row">
                    

                    <div class="col-md-6">
                        <div class="block">
                            <h4 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Les outils : CMS ou Sur mesure</h4>
                                <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                                    Nous réalisons à la fois du sur-mesure et de la haute couture.<br>
                                    Vous aurez ainsi l'esprit libre et serez capable de vous concentrer sur l'essentiel: votre besoin. Nous vous conseillerons sur les choix à adopter par rapport à votre problèmatique
                                </p>
                        </div>
                    </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s"   data-wow-duration="500ms">Nous contacter ?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Travaillons ensemble ? Comment ? Pourquoi ? </p>
                            <%= link_to ("Contactez-nous"), contact_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
